version: "3"
services:
  splunk-otel-collector:
    image: quay.io/signalfx/splunk-otel-collector:latest
    environment:
      - SPLUNK_ACCESS_TOKEN=${SPLUNK_ACCESS_TOKEN}
      - SPLUNK_REALM=${SPLUNK_REALM}
      - SPLUNK_HEC_URL=${SPLUNK_HEC_URL}
      - SPLUNK_HEC_TOKEN=${SPLUNK_HEC_TOKEN}
    command: [ "--config=/etc/otel-collector-config.yml" ]
    volumes:
#      - ./splunk-otel-collector/otel-collector-config-with-jmx.yml:/etc/otel-collector-config.yml
      - ./splunk-otel-collector/otel-collector-config.yml:/etc/otel-collector-config.yml
    ports:
      - "13133:13133"
      - "14250:14250"
      - "14268:14268"
      - "4317:4317"
      - "4318:4318"
      - "6060:6060"
      - "8888:8888"
      - "9080:9080"
      - "9411:9411"
      - "9943:9943"
  tomcat-with-sample-app:
    image: tomcat-with-sample-app
    environment:
      - OTEL_SERVICE_NAME=tomcat-with-sample-app
      - OTEL_RESOURCE_ATTRIBUTES=deployment.environment=jmx_test
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://splunk-otel-collector:4318
    command: [ "/usr/local/tomcat/bin/catalina.sh", "run" ]
    ports:
      - "8080:8080"  # Tomcat HTTP port
      - "1099:1099"  # JMX port
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/jmx-java-app/" ]
      interval: 30s
      timeout: 10s
      retries: 5
    depends_on:
      - splunk-otel-collector
  jmx-metric-scraper:
    image: jmx-metric-scraper
    depends_on:
      splunk-otel-collector:
        condition: service_started
      tomcat-with-sample-app:
        condition: service_healthy

